.song__title{
    margin-bottom: 14px;
    margin-top: 14px;
    font-size: 1.5rem !important;
    font-weight: 700;
    color: #f1f1f1;
    font-family: Poppins;
}

.topListenItem{
    background-color: hsla(0,0%,100%,.1);
    border-radius: 4px;
    height: 80px;
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    display: flex;
}
.topListenItem:hover{
    opacity: 0.75;
}
.topListenItem__img{
    display: flex;
    width: 80px;
    height: 80px;
}
.topListenItem__title{
    display: flex;
    align-items: center;
    width: 220px;
    padding-left: 16px;
}
.topListenItem__title h2{
    font-size: 14px;
    font-weight: 700;
    color: #f1f1f1;
    
}
.topListenItem__button{
    display: flex;
    width: 80px;
}
.topListenItem__button > button {
   justify-content: end;
   align-self: center;
   display: none;
}

.topListenItem:hover .topListenItem__button > button{
    display: block;
}