.searchArtistItem{
    width: 208px !important;
    height: 286px !important;
    background-color: rgb(24 24 24 /1);
    padding: 16px  10px !important;
    margin: 20px 0;
}

.searchArtistItem img{
    width: 176px;
    height: 176px;
    border-radius: 50%;
}
.searchArtistName{
    margin-top: 10px;
    padding: 0 8px;
    overflow: hidden;
}