.body {
   padding: 20px;
   right: 0 !important;
   width: 85% !important;
   margin-left: 15%;
   height: 716px !important;
   overflow-y: overlay;
   flex: 0.8;
   color: white;
   background-color: rgb(20, 19, 19) !important;
   margin-top: -40px;
 }
 
 .body::-webkit-scrollbar {
   display: none;
 }
 
 .body__info {
   display: flex;
   align-items: flex-end;
   padding: 10px;
 }
 
 .body__shuffle {
   font-size: 80px !important;
   margin-left: 50px;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 
 .body__icons {
   display: flex;
   align-items: center;
 }
 
 .body__icons > .MuiSvgIcon-root {
   margin-right: 20px;
 }
 
 .body__shuffle:hover {
   transition: 100ms transform ease-in;
   transform: scale(1.08);
 }
 
 .body__background {
   position: absolute;
   top: 13vh;
   right: 0;
   opacity: 0.4;
   height: 80%;
   width: 80%;
   background-color: black;

 }
 
 .body__songs {
   z-index: 1;
   margin: 20px -30px;
 }
 
 .body__info > img {
   height: 20vw;
   margin: 0 20px;
   box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
 }
 
 .body__infoText {
   flex: 1;
 }
 
 .body__infoText > h2 {
   font-size: 48px;
   margin-bottom: 10px;
 }
 
 .body__infoText > p {
   font-size: 14px;
 }
 
 .header{
   padding-top: 30px;
   margin-bottom: 40px;
   margin-left: -60px !important;
   margin-right: -60px !important;
   padding-left: 46px !important;
   padding-right: 56px !important;
   position: fixed;
   background-color: rgb(56, 120, 184) !important;
  background: linear-gradient(rgb(48, 112, 197), rgb(7, 6, 6));
 }

 
 .header__left {
   flex: 0.7;
   display: flex;
   background-color: gray;
   padding: 10px;
   border-radius: 30px;
   color: gray;
   align-items: center !important;

 }

 .pagesButton{
    color: red !important;
    background-color: red !important;
 }
.user__name{
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 28px;
  max-width: 110px;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ffff;
  padding-left: 4px;
}
.control__button{
  font-size: 22px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  margin: 8px;
}
.control__button path{
  fill: #b3b3b3;
}
.update__button{
  padding: 3px 15px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #ffff;
  background-color: transparent;
  border: 1px solid #878787;
  display: flex;
  border-radius: 16px;
  margin-right: 40px;
}
.update__button:hover{
    transform: scale(1.04);
    border-color: var(--essential-base,#000000);
    background-color: #000;
    border: 1px solid #fff;

}
.account__img path{
 fill: #fff;
 
}
.account__img{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.account__img-box {
  padding: 6px;
 border-radius: 50%;
 background-color: #878787;
}
.account__infor{
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  background-color: rgba(0,0,0,.7);
  border: 0;
  border-radius: 23px;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding: 2px;
  position: relative;
  padding-right: 8px !important;
}
.narrow__down path{
  fill: #fff;
}
.narrow__down-item{
  background-color: rgba(0,0,0,.7);
}