.searchContainer{
    
    padding: 20px;
    right: 0 !important;
    width: 85% !important;
    margin-left: 15%;
    height: 716px !important;
    overflow-y: overlay;
    flex: 0.8;
    
}
.searchInputContainer{
    display: flex;
    align-items: center;
    
}
.searchInputContainer input{
    margin-top: -10px !important;
    
}
.searchInputContainer > input{
    color: #282828 !important;

}
.searchIcon{
   display: none;
}
.searchInput{
    margin-left: 114px;
    width: 360px;
    height: 40px;
    height: 40px;
    padding: 12px;
    font-size: 14px;
    border-radius: 20px;
    margin-top: -10px;
    color: black !important;
    background-color: #fff !important;
}
.searchResult > h1{
    color: green;
    
}
.searchResult{
    padding-left: 20px;

   
}

.searchResultArtist{
    flex: 1;
    justify-content: center;
}
.searchArtist{
    display: flex;
    grid-template-columns: auto auto auto auto;
}
